/* Icons */
/* 
    How to use:
    <span class="simple-icons--instagram"></span>
*/

.gis--poi-map-o {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23000' d='m70.387 70l-3.854 7.247l18.87-3.085c-3.808-1.91-8.963-3.275-15.016-4.162m-48.61 1.58C13.037 73.885 7.5 77.662 7.5 83.272a8.4 8.4 0 0 0 .774 3.497l30.285-4.95zM91.79 80l-42.15 6.87l11.116 12.646C79.01 97.881 92.5 92.05 92.5 83.272c0-1.17-.252-2.257-.71-3.271m-49.272 8.055l-28.48 4.655C21.566 97.374 34.853 100 50 100c.918 0 1.815-.026 2.719-.045z'/%3E%3Cpath fill='%23000' d='M50.002 0c-16.3 0-29.675 13.332-29.675 29.595c0 6.302 2.017 12.173 5.421 16.984l-.102-.159l19.259 33.291l.08.107c.76.991 1.5 1.772 2.371 2.348c.87.575 1.95.921 3.009.815c2.118-.212 3.416-1.708 4.647-3.377l.065-.087l21.235-36.14l.013-.024c.498-.9.865-1.815 1.177-2.707a29.3 29.3 0 0 0 2.17-11.051C79.673 13.332 66.303 0 50.003 0m0 4.15c14.04 0 25.52 11.455 25.52 25.445c0 3.367-.668 6.58-1.877 9.53l-.022.052l-.018.052c-.27.774-.563 1.486-.911 2.116L51.64 77.175c-.972 1.294-1.682 1.676-1.688 1.677c-.003 0-.014.045-.304-.148c-.281-.185-.76-.642-1.318-1.36L29.189 44.26l-.053-.076c-2.932-4.145-4.659-9.169-4.659-14.588c0-13.99 11.485-25.445 25.525-25.445m0 8.746c-9.266 0-16.743 7.45-16.743 16.699s7.477 16.699 16.743 16.699s16.74-7.45 16.74-16.7c0-9.248-7.474-16.698-16.74-16.698m0 4.15c7.07 0 12.59 5.507 12.59 12.549s-5.519 12.549-12.59 12.549c-7.072 0-12.593-5.508-12.593-12.55c0-7.04 5.521-12.548 12.593-12.548' color='%23000'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.healthicons--heart-cardiogram-outline {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000'%3E%3Cpath d='M7.008 6.28C6.389 7.116 6 8.284 6 9.517c0 .451.077.952.18 1.417H4.14A8 8 0 0 1 4 9.517c0-1.629.508-3.22 1.4-4.427C6.295 3.88 7.63 3 9.25 3c.622 0 1.2.22 1.678.48c.485.263.934.606 1.315.94c.28.245.537.497.757.727c.22-.23.476-.482.757-.728c.381-.333.83-.676 1.315-.94C15.55 3.22 16.128 3 16.75 3c1.62 0 2.955.88 3.85 2.09c.892 1.207 1.4 2.798 1.4 4.427c0 1.72-.462 3.058-.78 3.646c-1.066 2.46-3.03 4.389-4.664 5.679a23 23 0 0 1-2.16 1.509a19 19 0 0 1-.918.527l-.015.008l-.005.003h-.002l-.456.234l-.456-.233l-.002-.001l-.005-.003l-.015-.008a7 7 0 0 1-.244-.132a19 19 0 0 1-.674-.395a23 23 0 0 1-2.16-1.51c-1.226-.968-2.64-2.296-3.719-3.94h2.49a16.7 16.7 0 0 0 2.469 2.37A21 21 0 0 0 13 18.857q.153-.09.349-.21c.51-.312 1.21-.776 1.967-1.374c1.533-1.21 3.214-2.905 4.085-4.943l.023-.053l.029-.05c.134-.236.547-1.258.547-2.709c0-1.233-.39-2.4-1.008-3.237C18.376 5.447 17.587 5 16.75 5c-.161 0-.402.062-.722.236c-.312.17-.639.413-.954.688a11 11 0 0 0-1.252 1.315a1.05 1.05 0 0 1-1.644 0a11 11 0 0 0-1.252-1.315a5.5 5.5 0 0 0-.954-.688C9.652 5.062 9.412 5 9.25 5c-.837 0-1.626.447-2.242 1.28'/%3E%3Cpath d='M4.37 11.934h3.564L10.18 8.25l1.543 3.795l.742-1.095H16v1.968h-2.465l-2.258 3.332l-1.457-3.585l-.754 1.237H2v-1.968z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.tabler--menu-deep {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M7 12h13m-10 6h10'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.simple-icons--instagram {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.03.084c-1.277.06-2.149.264-2.91.563a5.9 5.9 0 0 0-2.124 1.388a5.9 5.9 0 0 0-1.38 2.127C.321 4.926.12 5.8.064 7.076s-.069 1.688-.063 4.947s.021 3.667.083 4.947c.061 1.277.264 2.149.563 2.911c.308.789.72 1.457 1.388 2.123a5.9 5.9 0 0 0 2.129 1.38c.763.295 1.636.496 2.913.552c1.278.056 1.689.069 4.947.063s3.668-.021 4.947-.082c1.28-.06 2.147-.265 2.91-.563a5.9 5.9 0 0 0 2.123-1.388a5.9 5.9 0 0 0 1.38-2.129c.295-.763.496-1.636.551-2.912c.056-1.28.07-1.69.063-4.948c-.006-3.258-.02-3.667-.081-4.947c-.06-1.28-.264-2.148-.564-2.911a5.9 5.9 0 0 0-1.387-2.123a5.9 5.9 0 0 0-2.128-1.38c-.764-.294-1.636-.496-2.914-.55C15.647.009 15.236-.006 11.977 0S8.31.021 7.03.084m.14 21.693c-1.17-.05-1.805-.245-2.228-.408a3.7 3.7 0 0 1-1.382-.895a3.7 3.7 0 0 1-.9-1.378c-.165-.423-.363-1.058-.417-2.228c-.06-1.264-.072-1.644-.08-4.848c-.006-3.204.006-3.583.061-4.848c.05-1.169.246-1.805.408-2.228c.216-.561.477-.96.895-1.382a3.7 3.7 0 0 1 1.379-.9c.423-.165 1.057-.361 2.227-.417c1.265-.06 1.644-.072 4.848-.08c3.203-.006 3.583.006 4.85.062c1.168.05 1.804.244 2.227.408c.56.216.96.475 1.382.895s.681.817.9 1.378c.165.422.362 1.056.417 2.227c.06 1.265.074 1.645.08 4.848c.005 3.203-.006 3.583-.061 4.848c-.051 1.17-.245 1.805-.408 2.23c-.216.56-.477.96-.896 1.38a3.7 3.7 0 0 1-1.378.9c-.422.165-1.058.362-2.226.418c-1.266.06-1.645.072-4.85.079s-3.582-.006-4.848-.06m9.783-16.192a1.44 1.44 0 1 0 1.437-1.442a1.44 1.44 0 0 0-1.437 1.442M5.839 12.012a6.161 6.161 0 1 0 12.323-.024a6.162 6.162 0 0 0-12.323.024M8 12.008A4 4 0 1 1 12.008 16A4 4 0 0 1 8 12.008'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.gis--map-share {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M65.809 5a2.5 2.5 0 0 0-1.03.232L34.166 19.453L3.553 5.233C1.896 4.462 0 5.672 0 7.5v70.29a2.5 2.5 0 0 0 1.447 2.267l31.666 14.71a2.5 2.5 0 0 0 2.108 0l30.613-14.22l30.613 14.22c1.657.77 3.553-.44 3.553-2.267V22.21a2.5 2.5 0 0 0-1.447-2.267l-2.451-1.138a15.8 15.8 0 0 1-3.168 4.039l2.066.96v20.622c3.066 4.75 3.707 11.114.049 15.892l-.049.073v28.191L67.322 75.725l-.142-24.801c-.865-.758-1.906-1.391-3.01-1.977l.152 26.787l-28.676 13.323l-.369-64.606L63.953 11.13l.03 5.277c.993-.754 1.985-1.501 2.988-2.154l-.02-3.477l2.205 1.026c.093-1.717.545-3.381 1.268-4.926l-3.537-1.643A2.5 2.5 0 0 0 65.809 5M5 11.418l27.275 12.67l.371 64.95L5 76.192Z' color='%23000'/%3E%3Cpath fill='%23000' d='M83.347 2.5a10.19 10.19 0 0 0-10.192 10.192a10.2 10.2 0 0 0 .33 2.542l-16.198 9.845a10.2 10.2 0 0 0-7.056-2.85A10.19 10.19 0 0 0 40.04 32.423a10.19 10.19 0 0 0 10.19 10.191a10.2 10.2 0 0 0 6.689-2.517l16.445 9.998a10.2 10.2 0 0 0-.21 2.055a10.19 10.19 0 0 0 10.192 10.192A10.19 10.19 0 0 0 93.539 52.15a10.19 10.19 0 0 0-10.192-10.193a10.2 10.2 0 0 0-7.328 3.123l-16.025-9.738a10.2 10.2 0 0 0 .43-2.92a10.2 10.2 0 0 0-.306-2.437l16.25-9.879a10.2 10.2 0 0 0 6.979 2.778a10.19 10.19 0 0 0 10.192-10.192A10.19 10.19 0 0 0 83.347 2.5'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}